
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pages-head{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;;
  border-bottom: 1px solid #dee2e6 !important;
  color: #1b4b72;
  background-color: #d6e9f8;
  border-color: #c6e0f5;
}
